@charset "UTF-8";

body{
    background-color: #d6fde9;
    font-family: Arial, Helvetica, sans-serif;
    }

h1{
    color: #1e402f;
}

/* 
em HTML é id = em css é (só pode um elemento)#
em HTML é class = em CSS é . (pode várias class)*/

h1#principal{
    text-align: center;
    background-color: #3c805e;
    color: white;
}



h2{
    color: #3c805e;
}
.basico{
    color: #3c805e;
    text-decoration: underline;
    font-weight: bolder;
    
}
.intermediario{
    color: #80793c;
}
.avançado{
    color: #803c3c;
}